.header{
    // height: 30px;
    width: calc(100% - 300px);
    color: $white;
    background-color: $secondary;
    position: fixed;
    top: 0;
    right: 0;
    z-index: $z-index-header;
    padding: 1rem 1rem;
}