.profile{
    .avatar{
        display: block;
        width: 100px;
        height: 100px;
        margin: 0 auto 1.5rem;
        position: relative;

        border: 2px solid $white;
        box-shadow: 0 7px 20px rgba(0, 0, 0, .25);
        border-radius: 50%;
    }

    .profile_name{
        font-size: 1rem;
        text-align: center;
    }
    .profile_prof{
        text-align: center;
        font-size: .8rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }
}

.profile_text{
    padding: 1rem 0;
    margin: 1rem 0;
    font-size: .7rem;
    text-align: center;

    border-top: 1px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;


}