.social{
    display: flex;
    justify-content: center;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    
    .social_item{
        list-style-type: none;
        margin: 0 .75rem;
    }
}