.subnav{
    display: none;
    padding-inline-start: 0;

    width: 165px;
    padding: .3rem 0;

    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 6px 8px rgba($balck, .2);
}

.subnav_link{
    display: block;
    text-decoration: none;
    color: $primary;
    font-size: .8rem;
    padding: .2rem .8rem; 
    transition: background-color .2s linear, color .2s linear;

    &:hover{
        background-color: lighten($primary, 5%);
        color: $white;
    }
}